In [1]:
import pandas as pd
from apyori import apriori
from IPython.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

#### Load Dataset

In [2]:
df = pd.read_csv('mercado.csv', header=None)
df

        0       1       2       3
0    milk    beer   bread  butter
1  coffee   bread  butter     NaN
2  coffee   bread  butter     NaN
3    milk  coffee   bread  butter
4    beer     NaN     NaN     NaN
5  butter     NaN     NaN     NaN
6   bread     NaN     NaN     NaN
7   beans     NaN     NaN     NaN
8    rice   beans     NaN     NaN
9    rice     NaN     NaN     NaN

#### Converting to list

In [3]:
transactions = df.to_numpy().astype(str).tolist()
transactions

[['milk', 'beer', 'bread', 'butter'],
 ['coffee', 'bread', 'butter', 'nan'],
 ['coffee', 'bread', 'butter', 'nan'],
 ['milk', 'coffee', 'bread', 'butter'],
 ['beer', 'nan', 'nan', 'nan'],
 ['butter', 'nan', 'nan', 'nan'],
 ['bread', 'nan', 'nan', 'nan'],
 ['beans', 'nan', 'nan', 'nan'],
 ['rice', 'beans', 'nan', 'nan'],
 ['rice', 'nan', 'nan', 'nan']]

#### Creating the association

In [4]:
rules = apriori(transactions, min_support=0.3, min_confidence=0.8, min_lift=2)
results = list(rules)

In [5]:
df_results = pd.DataFrame(columns=['association', '_if', '_then', 'support', 'confidence', 'lift'])

for result in results:
    df_temp = pd.DataFrame(columns=['association', '_if', '_then', 'support', 'confidence', 'lift'])
    df_temp['association'] = [[r for r in result[0]]]
    df_temp['support'] = result[1]
    
    for register in result[2]:
        r = [a for a in register]
        if len(r[0]) > 1:
            df_temp['_if'] = [[a for a in r[0]]]
        else:
            df_temp['_if'] = [a for a in r[0]]
            
        if len(r[1]) > 1:
            df_temp['_then'] = [[a for a in r[1]]]
        else:
            df_temp['_then'] = [a for a in r[1]]
            
        df_temp['confidence'] = r[2]
        df_temp['lift'] = r[3]
            
        df_results = pd.concat([df_results, df_temp], ignore_index=True)

#### Showing the results

In [6]:
df_results.sort_values('lift', ascending=False)

,association,_if,_then,support,confidence,lift
2,"[coffee, butter, bread]",coffee,"[butter, bread]",0.3,1.0,2.5
0,"[coffee, bread]",coffee,bread,0.3,1.0,2.0
1,"[coffee, butter]",coffee,butter,0.3,1.0,2.0
3,"[coffee, butter, bread]","[coffee, bread]",butter,0.3,1.0,2.0
4,"[coffee, butter, bread]","[coffee, butter]",bread,0.3,1.0,2.0